<h5 class="mx-2">Hostel ostatnie akcje:</h5>
<ul class="list-group list-group-flush">
  <li class="list-group-item">17/11/2022 15:55 : Nowa rezerwacja - bootstrap modal!</li>
  <li class="list-group-item">16/11/2022 15:55 : Reservation confirm - client name </li>
  <li class="list-group-item">15/11/2022 15:55 : New Client Registered</li>
  <li class="list-group-item">14/11/2022 15:55 : Room nr 4 failure </li>
  <li class="list-group-item">12/11/2022 15:55 : New Reservation </li>
  <li class="list-group-item">11/11/2022 15:55 : New Reservation </li>
  <li class="list-group-item">17/11/2022 15:55 : New Reservation - room nr 3</li>
  <li class="list-group-item">16/11/2022 15:55 : Reservation confirm - client name </li>
  <li class="list-group-item">15/11/2022 15:55 : New Client Registered</li>
  <li class="list-group-item">14/11/2022 15:55 : Room nr 4 failure </li>
  <li class="list-group-item">12/11/2022 15:55 : New Reservation </li>
  <li class="list-group-item">11/11/2022 15:55 : New Reservation </li>
  <li class="list-group-item">17/11/2022 15:55 : New Reservation - room nr 3</li>
  <li class="list-group-item">16/11/2022 15:55 : Reservation confirm - client name </li>
  <li class="list-group-item">15/11/2022 15:55 : New Client Registered</li>
  <li class="list-group-item">14/11/2022 15:55 : Room nr 4 failure </li>
  <li class="list-group-item">12/11/2022 15:55 : New Reservation </li>
</ul>