<div id="navbar" class="mb-5">
    <!-- Navigation-->
    <nav class="navbar navbar-expand navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <!-- Left links -->
            <a routerLink="/new-reservation" class="navbar-brand" href="nowa-rezerwacja">Nowa rezerwacja</a>
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/dashboard" class="nav-link" href="dashboard">Dashboard</a>
                </li>
            </ul>
            <div class="navbar">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Klienci
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Nowy klient</a></li>
                            <li><a class="dropdown-item" href="#">Edycja danych</a></li>
                            <li><a class="dropdown-item" href="#">Kasowanie danych</a></li>
                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Rezerwacje
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Nowa rezerwacja</a></li>
                          <li><a class="dropdown-item" href="#">Lista rezerwacji</a></li>
                          <li><a class="dropdown-item" href="#">Potwierdzenie rezerwacji</a></li>
                          <li><a class="dropdown-item" href="#">Anulowanie rezerwacji</a></li>
                          <li><a class="dropdown-item" href="#">Edycja rezerwacji</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Pokoje
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Lista pokoi</a></li>
                          <li><a class="dropdown-item" href="#">Nowa rezerwacja</a></li>
                          <li><a class="dropdown-item" href="#">Edytuj pokój</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Obsługa
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Serwis</a></li>
                          <li><a class="dropdown-item" href="#">Nowe zgłoszenie</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Kalendarz</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>