<div class="mx-5 text-center">
    <h5>Zbliżające się wynajmy:</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Dane klienta</th>
                <th scope="col">Telefon</th>
                <th scope="col">Nr pokoju</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>7/11/2022</td>
                <td>Darek Rak</td>
                <td>567123123</td>
                <td>2</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>17/11/2022</td>
                <td>Tomasz Bąk</td>
                <td>123123123</td>
                <td>11</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>17/11/2022</td>
                <td>Tomasz Bąk</td>
                <td>123123123</td>
                <td>11</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>17/11/2022</td>
                <td>Tomasz Bąk</td>
                <td>123123123</td>
                <td>11</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>17/11/2022</td>
                <td>Tomasz Bąk</td>
                <td>123123123</td>
                <td>11</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>17/11/2022</td>
                <td>Tomasz Bąk</td>
                <td>123123123</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>
</div>